### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
#Finding the unique count of players using nunique function
unique_count = purchase_data["SN"].nunique(dropna = True) 

#Creating a DataFrame for the unique value count of players
Total_players = pd.DataFrame([{"Total Players": unique_count }])

#Printing the DataFrame
Total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Calculating unique count of Items
unique_item = purchase_data["Item Name"].nunique(dropna = True) 


# Calculating average price of the items from the given data and rounding it by 2 decimals
average_price = round(purchase_data["Price"].mean() , 2)


# Calculating the total number of unique purchases
purchase_count = purchase_data["Purchase ID"].nunique(dropna = True)


#Calculating the total revinue
Total_rev = purchase_data["Price"].sum()


#Defining the DataFrame 

purchasing_analysis = pd.DataFrame ( {
        "Number of Unique Items" : [unique_item],
        "Average Price" : "$" +  str(average_price),
        "Number of Purchases": [purchase_count],
        "Total Revenue" : "$" +  str(Total_rev)   
})

#Printing the DataFrame for summary
purchasing_analysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#Finding the count of unique Players by doing Group by Gender
unique_gender = purchase_data.groupby("Gender") ["SN"].nunique(dropna = True)

#Creating a DataFrame
count_players = pd.DataFrame(unique_gender)

#Renaming the columns of DataFrame
count_players = count_players.rename(columns={"SN" : "Total Count"})

#Calculating the sum of Total unique players
sum = count_players["Total Count"].sum()

#Calculating the percentage of players by Gender
player_percent = count_players["Total Count"] / sum * 100 

#Rounding the percentage of players to 2 decimals
count_players["Percentage of Players"] = round(player_percent, 2)

#Formating the percentage column to add " % "  at the end
count_players.style.format({"Percentage of Players" : "{:,.2f}%"} )


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:

#Calculating the total purchases
purchase_sum = purchase_data.groupby("Gender") ["Price"].sum()
purchase_sum

#Calculating the purchase average price by Gender and rounding it  to 2 Decimals
purchase_avg = round(purchase_data.groupby("Gender") ["Price"].mean() , 2)
purchase_avg

#Counting the unique purchase ID's by Gender
purchase_count = purchase_data.groupby("Gender") ["Purchase ID"].nunique(dropna = True)
purchase_count

count = purchase_data.groupby("Gender") ["Price"].mean()

#Calculating and Rounding the Average Purchase per person to 2 decimal
avg_purchase_per_person = round(purchase_sum/unique_gender, 2)

#Defining the dataframe and adding columns for Purchase avg, purchase count and avg purchase per person
df1 =  pd.DataFrame(purchase_sum)
df1 ["Average Purchase Price"] = purchase_avg
df1 ["Purchase count"] = purchase_count
df1 ["Avg Total Purchase per Person"] = avg_purchase_per_person

#Renaming columns and creating a new DataFrame for final output
Pur_analysis_gender =  df1.rename(columns={"Price": "Total Purchase Value", })

#Formating the percentage column to add " $"  at the front of Values
Pur_analysis_gender.style.format({"Total Purchase Value": "${:,.2f}", 
                                 "Average Purchase Price": "${:,.2f}",
                                 "Avg Total Purchase per Person": "${:,.2f}" })

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
#Define the bins for age groups
bins_age = [0, 9.99, 14, 19, 24, 29, 34, 39, 100]

#Define the lables group names
grouped_name = ["< 10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Adding Age group classification column and cut it to group into buckets
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],bins_age, labels=grouped_name)

#Aggregating all the data sets by using group by on Age Group
age_group = purchase_data.groupby("Age Group")

#Calculating the unique Total age by name
total_age = age_group["SN"].nunique()

#Calculating the percentage of age group 
percentage_age = (total_age/sum ) * 100

#Defining the Data Frame
age_demographics = pd.DataFrame({"Total Count":total_age,"Percentage of Players": percentage_age})

#Index set to none for siaplaying the final summary
age_demographics.index.name = None

#Formating the percentage column to add " %"  at the end
age_demographics.style.format({"Percentage of Players":"{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#Define the bins for age groups
bins_age = [0, 9.99, 14, 19, 24, 29, 34, 39, 100]

#Define the lables group names
grouped_name = [">10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Aggregating all the data sets by using group by on Age Group
age_group = purchase_data.groupby("Age Group")

#Calculating the count of purchase ID by age group.
pur_age_count = age_group["Purchase ID"].count()

#Calculating the Avg Purchase Price i.e mean on Price by age
Avg_pur_price_age = age_group["Price"].mean()

#Calculating the total purchase value 
total_purchase_value = age_group["Price"].sum()

#Calculating the avg purchase price age total
Avg_pur_price_age_tot = total_purchase_value/total_age

#Defining the DataFrame for Final output
age_pur_analysis = pd.DataFrame({"Purchase Count": pur_age_count,
                                 "Average Purchase Price": Avg_pur_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total per Person": Avg_pur_price_age_tot})
#Index set to none for siaplaying the final summary
age_pur_analysis.index.name = None

#Formating the percentage column to add " %"  at the end
age_pur_analysis.style.format({"Average Purchase Price":"${:,.2f}","Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
#Aggregating the Data by SN
top_spenders = purchase_data.groupby("SN")

#Counting the Spenders by purchase ID
pur_spender = top_spenders["Purchase ID"].count()

#Calculating the avg price mean 
avg_price_spender = top_spenders["Price"].mean()

#Calculating the total spenders 
purchase_total_spender = top_spenders["Price"].sum()

#Defining the data frame and assigning values
top_spenders = pd.DataFrame({"Purchase Count": pur_spender,
                             "Average Purchase Price": avg_price_spender,
                             "Total Purchase Value":purchase_total_spender})
#Displaying the sorted value ( top 5 )
top_spenders_summary = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

#Formating the percentage column to add " $"  at the front of the values
top_spenders_summary.style.format({"Average Purchase Total":"${:,.2f}","Average Purchase Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
#Retrieving the  Item ID, Item Name, and Item Price columns in a data Frame
item_name = purchase_data[["Item ID", "Item Name", "Price"]]

#Aggregating and grouping by Item ID and Item Name
item_group = item_name.groupby(["Item ID","Item Name"])

#Calculating the count of items on the aggregated data
purchasing_item = item_group["Price"].count()

#Calculating the total sum of purchases on the aggregated data
purchasing_value = (item_group["Price"].sum()) 

# Calculating the Price per item
price = purchasing_value/purchasing_item

#Creating a Data Frame and adding values to display the final summary
popular_items = pd.DataFrame({"Purchase Count": purchasing_item, 
                                   "Item Price": price,
                                   "Total Purchase Value":purchasing_value})

#Sorting the output by Purchase count and displaying the top 5
most_popular_item = popular_items.sort_values(["Purchase Count"], ascending=False).head()

#Formating the percentage column to add " $"  at the front of the values
most_popular_item.style.format({"Item Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
#Sort the above Data Frame by total purchase value in descending order
most_profitable_item = popular_items.sort_values(["Total Purchase Value"],ascending=False).head()

#Formating the percentage column to add " $"  at the front of the values
most_profitable_item.style.format({"Item Price":"${:,.2f}","Total Purchase Value":"${:,.2f}"})